* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
  width: 80%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.blu {
  background-color: #0c325a;
}

nav {
  height: 70px;
}

.logo {
  height: 35px;
  vertical-align: middle;
  color: white;
  padding-bottom: 8px;
}

ul li {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  line-height: 70px;
  font-family: 'Maven Pro', sans-serif;
  padding: 0 8px;
  font-size: 14px;
}

.login,.piano {
  padding: 8px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
}

.login {
  border: 1px solid white;
}

.piano {
  background-color: #7cbb02;
}

.left {
  float: left;
}

.right {
  float: right;
}

.banner {
  height: 470px;
  background-image: url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

.catchphrase {
  color: white;
  font-size: 60px;
  font-family: 'Maven Pro', sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 100px;
}

.catchphrase .piano {
  font-size: 18px;
  padding: 20px 10px;
}

.grigio {
  background-color: #d3d3d3;
  height: 150px;
}

.watchword {
  position: relative;
}

.slogan {
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.row {
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  padding: 10px;
}

.first {
  font-size: 30px;
}

.second {
  font-size: 20px;
  color: #808080;
}

.card {
  width: 33.33333%;
  height: 500px;
  float: left;
  text-align: center;
  padding: 30px 0;
  font-family: 'Maven Pro', sans-serif;
  overflow: hidden;
}

.card img {
  height: 120px;
}

.card h2 {
  color:#7cbb02;
  font-size: 25px;
  padding: 30px 0;
}

.card hr {
  color: #979797;
  width: 20%;
  margin: 0 auto;
}

.card p {
  color: #979797;
  font-size: 20px;
  padding: 10px;
  line-height: 30px;
}

.board {
  height: 500px;
  width: 50%;
  float: left;
  padding: 40px 10px;
  border-top: 1px solid #979797;
  position: relative;
  font-family: 'Maven Pro', sans-serif;
}

.board img {
  height: 400px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.board h1 {
  font-size: 40px;
}

.board h2 {
  color: #979797;
  font-size: 25px;
  padding: 30px 0
}

.struttura {
  font-size: 40px;
  font-family: 'Maven Pro', sans-serif;
  line-height: 150px;
  font-weight: bolder;
  float:left;
}

.selection {
  color: #979797;
  font-size: 20px;
  float:right;
  line-height: 150px;
}

.selezione {
  font-family: 'Maven Pro', sans-serif;
  background-color: #d3d3d3;
  color: #979797;
  font-size: 15px;
  width: 120px;
  margin: 0 20px;
}

.selection .piano {
  padding: 20px 10px;
  font-size: 18px;
}
